@model Cadastros.Models.ClienteDTO
@{
    ViewData["Title"] = "Editar cliente";
}

<div class="col-12" id="pagina-clientes">
    <div class="card">
        <div class="card-header">
            Editar clientes
        </div>
        <div class="card-body">
            @using (Html.BeginForm("EditarCliente", "Cliente", FormMethod.Post))
            {
                @Html.HiddenFor(model => Model.Codigo);
                <div class="mb-3">
                    <label class="form-label">Nome</label>
                    <input type="text" class="form-control nome-cliente" asp-for="@Model.Nome" placeholder="Insira o nome aqui" value="@Model.Nome" required>
                </div>
                <div class="mb-3">
                    <label class="form-label">CEP</label>
                    <input type="text" class="form-control cep-cliente" asp-for="@Model.CEP" placeholder="Insira o CEP aqui" value="@Model.CEP" required>
                </div>
                <div class="mb-3">
                    <label class="form-label">Logradouro</label>
                    <input type="text" class="form-control logradouro-cliente" asp-for="@Model.Logradouro" placeholder="Insira o logradouro aqui" value="@Model.Logradouro" required>
                </div>
                <div class="mb-3">
                    <label class="form-label">Complemento</label>
                    <input type="text" class="form-control complemento-cliente" asp-for="@Model.Complemento" placeholder="Insira o complemento aqui" value="@Model.Complemento">
                </div>
                <div class="mb-3">
                    <label class="form-label">Bairro</label>
                    <input type="text" class="form-control bairro-cliente" asp-for="@Model.Bairro" placeholder="Insira o bairro aqui" value="@Model.Bairro" required>
                </div>
                <div class="mb-3">
                    <label class="form-label">Cidade</label>
                    <input type="text" class="form-control cidade-cliente" asp-for="@Model.Cidade" placeholder="Insira a cidade aqui" value="@Model.Cidade" required>
                </div>
                <div class="mb-3">
                    <label class="form-label">UF</label>
                    <input type="text" class="form-control uf-cliente" asp-for="@Model.UF" placeholder="Insira o UF aqui" value="@Model.UF" required>
                </div>
                <div class="mb-3">
                    <label class="form-label">Código IBGE</label>
                    <input type="text" class="form-control cod-ibge-cliente" asp-for="@Model.CodigoIBGE" placeholder="Insira o código IBGE aqui" value="@Model.CodigoIBGE" required>
                </div>

                <div class="mb-3">
                    <button id="edita-cliente" type="submit" class="btn btn-success">Salvar</button>
                </div>
            }
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/minificados/js/clientes.min.js" asp-append-version="true"></script>
}